.hide-for-small.logo
  = link_to '/' do
    = image_tag('logo.png')
.row.container
  .columns
    .hide-for-small
      = link_to 'http://www.shop-velo.ch', class: 'shop-logo' do
        = image_tag 'logo-shop-velo.jpg'
      %img.date
    %nav#main-nav.top-bar{role: "navigation"}
      %ul.title-area
        %li.name
          %h1
            %a.hide-text{ href: "/"}
        %li.toggle-topbar.menu-icon
          %a{ href: "#"}
            %span Menü
      %section.top-bar-section
        = render_navigation
